html {
  font-size: 62.5%;

  &.sr .load-hidden {
    visibility: hidden;
  }
}

body {
  font-family: "Playfair Display", serif, sans-serif;
  text-align: center;
  position: relative;
  z-index: 1;
}
