// COLORS
// $primary-color: #02aab0;
// $secondary-color: #00cdac;

$secondary-color: rgb(51, 236, 236);
$primary-color: rgb(24, 39, 231);

$white-color: #fff;

$dark-grey: #333333;
$light-grey: #d2d2d2;

$dark-blue-text: #272341; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;

//Gradient
$dark-gradient: linear-gradient(
  109.6deg,
  rgb(36, 45, 57) 11.2%,
  rgb(16, 37, 60) 51.2%,
  rgb(0, 0, 0) 98.6%
);
